@model List<(double x, double y)>
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- ... Diğer başlık etiketleri ... -->
	<style>
		#map {
			height: 500px; /* Haritanın yüksekliğini belirleyin */
		}
	</style>
</head>
<body>

	<div id="map"></div> <!-- Harita içeriği için bir div ekleyin -->
	<!-- Harita JavaScript kodunu ayrı bir JavaScript dosyasına taşıdık -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU_pWP66-BTzvW7AnEcQRSaBPutMzWxU4&callback=initMap&v=weekly" defer></script>

	<script>
		// Harita JavaScript kodu
		function initMap() {
			const map = new google.maps.Map(document.getElementById("map"), {
				zoom: 6,
				center: {
					lat: 38.934934,
					lng: 34.861613
				},
			});

			//var points = [
			//	{ longitude: 33.7160, latitude: 41.60018 },
			//	{ longitude: 33.4872, latitude: 41.58063 },
			//	{ longitude: 33.3794, latitude: 41.56647 },
			//	{ longitude: 33.3586, latitude: 41.55840 },
			//	{ longitude: 33.3414, latitude: 41.52182 },
			//	{ longitude: 33.3533, latitude: 41.51176 },
			//	{ longitude: 33.5365, latitude: 41.48516 },
			//	{ longitude: 33.5845, latitude: 41.47569 },
			//	{ longitude: 33.7080, latitude: 41.43518 },
			//	{ longitude: 33.7095, latitude: 41.41238 },
			//	{ longitude: 33.6729, latitude: 41.39223 },
			//	{ longitude: 33.6711, latitude: 41.37924 },
			//	{ longitude: 33.6505, latitude: 41.37640 }
			//];

			const image = {
				url: "/css/orangedot.png",
				size: new google.maps.Size(32, 32),
				origin: new google.maps.Point(0, 0),
				anchor: new google.maps.Point(0, 32),
			};

			const shape = {
				coords: [1, 1, 1, 20, 18, 20, 18, 1],
				type: "poly",
			};

			const pureList = @Html.Raw(ViewBag.PureListJson); // Parse the JSON data directly

			const lineCoordinates = [];
			for (let i = 0; i < pureList.length; i++) {
				const point = pureList[i];
				const latitude = point.x; // Access x and y from the point
				const longitude = point.y;
				const marker = new google.maps.Marker({
					position: { lat: latitude, lng: longitude },
					map,
				});
				lineCoordinates.push({ lat: latitude, lng: longitude });
			}
			var line = new google.maps.Polyline({
				path: lineCoordinates,
				geodesic: true,
				strokeColor: "#FF0000",
				strokeOpacity: 1.0,
				strokeWeight: 2,
			});

			line.setMap(map);
		}

		window.initMap = initMap;
	</script>

</body>
</html>